<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="visually-hidden">Heads & Tails</h1>    
        <picture>
            <source srcset="
            /img/hero/logo-desk.png 1x,
            /img/hero/logo-desk@2x.png 2x
                 " media="(min-width: 1440px)" />
            <source srcset="
            /img/hero/logo-mob.png 1x,
            /img/hero/logo-mob@2x.png 2x
                " media="(max-width: 1439px)" />
            <img class="hero-logo" src="/img/hero/logo-mob.png" alt="Heads & Tails" loading="lazy" />
        </picture>
        <div class="home-wrapper">
            <h2 class="home-subtitle">A decision made in a moment.</h2>
            <p class="home-text">We've taken the simple coin flip and made it into something you can actually interact with.<br/>No progression trees, no
            layered systems — just a clear choice followed by an immediate result.<br/>
            Look, if you're sick of games that take forever to figure out, this might be your thing.</p>
                <a class="hero-btn pulse btn" href="#demo">
                   <p>Flip Now</p>
                </a>
        </div>
    </div>
</section>
<section class="disclaimre-section">
    <div class="container disclaimer-container">
        <h2 class="disclaimer-title">DISCLAIMER</h2>
        <p class="disclaimer-text">diglino.space IS A PLATFORM FOR HAVING FUN. THE OUTCOME OF THIS GAME EXPERIENCE SHOULD NOT BE CONSIDERED A REFLECTION OF
        REAL-LIFE RESULTS. GAME IS INTENDED FOR ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY THE EXPERIENCE.</p>
    </div>
</section>
<section class="demo-section" id="demo">
    <div class="container demo-container">
        <div class="title-container">
            <img src="/img/coin.png" alt="coin" loading="lazy">
            <h2>The Game</h2>
        </div>

        <h3 class="demo-title">Play Heads & Tails</h3>
        <p class="demo-text">One flip. No delay.</p>

        <div class="demo-wrapper" id="game">
            <picture>
                <source srcset="
                /img/demo/demo-desk.png 1x,
                /img/demo/demo-desk@2x.png 2x
                " media="(min-width: 1440px)" />
                <source srcset="
                /img/demo/demo-mob.png 1x,
                /img/demo/demo-mob@2x.png 2x
                " media="(max-width: 1439px)" />
                <img class="game-img" src="/img/demo/demo-mob.png" alt="Heads & Tails" loading="lazy" />
            </picture>


            <div class="iframe-wrapper">
                <iframe id="gameIframe" name="gameIframe"></iframe>

                <button id="closeIframeBtn" class="hidden-close-btn" aria-label="Close">
                    <img class="close-img" src="/img/demo/close.png" alt="Close">
                </button>
            </div>
        </div>
        <a class="demo-btn btn" href="#"
            data-game-url="https://demo.evoplay.games/demo/instant/html5/evoplay/headsortails" target="gameIframe">
            <p>Play</p>
        </a>
    </div>
</section>
<section class="why-section" id="why">
    <div class="container demo-container">
        <div class="title-container">
            <img src="/img/coin.png" alt="coin" loading="lazy">
            <h2>Why Heads & Tails</h2>
        </div>
        <h3>Why This Game Works</h3>
        <p class="why-text">No bloat, no BS - just flip the damn coin.</p>
        <div class="flip-wrapper">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        1
                    </div>
                    <div class="flip-card-back">
                        Designed around a single decision
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        2
                    </div>
                    <div class="flip-card-back">
                        No waiting,<br/>
                        no buildup
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        3
                    </div>
                    <div class="flip-card-back">
                        Clear and predictable outcome logic
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        4
                    </div>
                    <div class="flip-card-back">
                    Ideal for short,<br/>
                    focused sessions
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        5
                    </div>
                    <div class="flip-card-back">
                        Interface focused on action, not decoration
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
