body{
  background: #15151c;
  font-family: "Tiro Tamil", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #e6e6e9;
}
h2{
  font-family: "Tiro Tamil", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #e6e6e9;
}
.title-container{
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 40px;
}
h3{
  font-family: "Kumar One", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: #bcab7e;
}
.btn{
  box-shadow: 1px 1px 1px 0 rgba(130, 136, 163, 0.4);
    background: linear-gradient(180deg, #e6e6e9 0%, #5e6582 100%);
    border: 1px solid #252c38;
      border-radius: 8px;
      width: 240px;
      height: 56px;
      display: flex;
      padding: 17px;
      justify-content: center;
      align-items: center;
font-family: "Tiro Tamil", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #15151c;
  transition: background 0.3s ease-in-out;
}
.btn:hover,
.btn:active, 
.btn:focus{
    background: linear-gradient(180deg, #e6e6e9 0%, #bcab7e 100%);
}