.cookie-popup {
    position: fixed;
    bottom: 30px;
    left: 48%;
    transform: translateX(-48%);
    padding: 40px 29px;
    background: #252c38;
    z-index: 1000;
    width: 100%;
    height: auto;
    display: none;
}

.cookie-class {
font-size: 14px;
    line-height: 1.3;
    width: 303px;
    margin-left: auto;
    margin-right: auto;
}

.cookie-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
width: 316px;
    height: 40px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
}

.btn-accept {
border-radius: 12px;
    padding: 10px;
    width: 144px;
    height: 40px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #e6e6e9;
    box-sizing: border-box;
    border: none;
font-family: "Tiro Tamil", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #15151c;

}

.btn-decline {
    border: none;
border-bottom: 2px solid #e6e6e9;
    padding: 10px;
    width: 152px;
    height: 40px;
    opacity: 0.8;
font-family: "Tiro Tamil", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #e6e6e9;
    box-sizing: border-box;
    background-color: inherit;
}


@media screen and (min-width: 1439px) {
    .cookie-popup {
        padding: 56px 57px;
        width: 1439px;
        height: auto;
    }

    .popup-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .cookie-class {
        width: 100%;

    }

    .cookie-buttons {
        margin-top: 0;
width: 376px;
    height: 40px;
        gap: 80px;
    }

}