.footer{
  border-top: 1px solid rgba(37, 44, 56, 0.5);
}
.footer-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.footer-navigation{
  display: flex;
  justify-content: center;
  gap: 24px;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}
.footer-text{
  font-size: 12px;
}