.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.02);
        opacity: 0.9;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;

}
.home-section{
    background-image: url("/img/hero/mob.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.home-container{
    padding-bottom: 59px;
    display: flex;
        flex-direction: column;
            align-items: center;
            gap: 24px;
}
.hero-logo{
    margin-top: 48px;
}
.home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 327px;
}
.home-subtitle{
    font-family: "Kumar One", sans-serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 1.43333;
        text-align: center;
        background: linear-gradient(180deg, #e6e6e9 0%, #8288a3 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.home-text{
    font-size: 14px;
}