.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.02);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;

}
.home-section{
    background-image: url("/img/hero/mob.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.home-container{
    padding-bottom: 59px;
    display: flex;
        flex-direction: column;
            align-items: center;
            gap: 24px;
}
.hero-logo{
    margin-top: 48px;
}
.home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 327px;
}
.home-subtitle{
    font-family: "Kumar One", sans-serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 1.43333;
        text-align: center;
        background: linear-gradient(180deg, #e6e6e9 0%, #8288a3 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.home-text{
    font-size: 14px;
}
@media only screen and (min-width: 1440px) {
    .home-section{
        background-image: url("/img/hero/desk.png");
    }
    .home-container{
      padding: 120px;
      flex-direction: row;
    }
    .hero-logo{
        margin-top: 0;
    }
    .home-wrapper{
        width: 776px;
            height: 244px;
    }
    .home-subtitle{
        font-size: 40px;
    }
    .home-text{
        font-size: 16px;
    }
}
/* DISCLAIMER */
.disclaimer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.disclaimer-title{
    font-family: "Kumar One", sans-serif;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: #bcab7e;
}
.disclaimer-text{
    font-size: 12px;
}
@media only screen and (min-width: 1440px) {
.disclaimer-container{
    padding-left: 274px;
    padding-right: 249px;
    flex-direction: row;
    gap: 24px;
}
}
.demo-container {
    position: relative;

}

.demo-text {
    margin-top: 24px;
}

.demo-wrapper {
    position: relative;
    max-width: 1200px;
    margin: 20px auto 0;
    height: 622px;
}

.game-img {
width: 323px;
    height: 622px;
}

/* ===== КНОПКА ===== */

.demo-btn {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    display: inline-block;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.demo-img {
    display: block;
    width: 100%;
    height: auto;
}

/* ===== ФОН ===== */

.game-img {
    width: 100%;
    display: block;
}

/* ===== IFRAME ===== */

.iframe-wrapper {
    position: absolute;
    top: 3%;
    left: 40%;
    transform: translateX(-48%);
    width: 68%;
    height: 54%;
    z-index: 20;

    /* 🔥 ГОЛОВНЕ ВИПРАВЛЕННЯ */
    pointer-events: none;
}

#gameIframe {
    width: 125%;
    height: 174%;
    border: none;
    display: none;
    background: #000;
    border-radius: 30px;
}

/* АКТИВНИЙ СТАН */
.iframe-wrapper.active {
    pointer-events: auto;
}

#gameIframe.active {
    display: block;
}

/* ===== КНОПКА ЗАКРИТТЯ ===== */

#closeIframeBtn {
    position: absolute;
    top: 20px;
    right: -50px;

    background: none;
    border: none;
    cursor: pointer;

    display: none;

    z-index: 9999;
    /* 🔥 НАД iframe */
    pointer-events: auto;
}

#closeIframeBtn.active {
    display: block;
}

.close-img {
    width: 24px;
    height: 24px;

}
@media only screen and (min-width: 1440px) {

    .demo-wrapper {
        margin: 24px auto 0;
        height: 682px;
    }

    .game-img {
        width: 942px;
        height: 682px;
        margin-left: auto;
        margin-right: auto;
    }

    .iframe-wrapper {
        position: absolute;
        top: 4%;
        left: 46%;
        transform: translateX(-48%);
        width: 68%;
        height: 54%;
        z-index: 20;

        /* 🔥 ГОЛОВНЕ ВИПРАВЛЕННЯ */
        pointer-events: none;
    }

    #gameIframe {
        width: 108%;
        height: 170%;
        border: none;
        display: none;
        background: #000;
        border-radius: 30px;
    }
}
/* Why Heads & Tails */
.why-text{
    margin-top: 16px;
}
.flip-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 32px;
}


.flip-card {
    border: 1px solid  #bcab7e;
border-radius: 999px;
    padding: 24px 16px;
    width: 200px;
    height: 200px;
    box-shadow: 0 1px 6px 0 #5e6582;
        background: linear-gradient(180deg, rgba(94, 101, 130, 0.5) 0%, rgba(37, 44, 56, 0.5) 100%);
        display: flex;
        align-items: center;
        justify-content: center;
    perspective: 1000px;
    cursor: pointer;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
}

/* коли активна */
.flip-card.is-flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* перед */
.flip-card-front {
font-family: "Kumar One", sans-serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 0.98214;
    text-align: center;
    color: #bcab7e;
}

/* зад */
.flip-card-back {
font-family: "Tiro Tamil", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #e6e6e9;
    transform: rotateY(180deg);
}
@media only screen and (min-width: 1440px) {
.flip-wrapper {
        flex-direction: row;
        justify-content: center;
    }
}
/* How It Works */
.how-text{
    margin-top: 16px;
    margin-bottom: 32px;
}
.how-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;
}
.how-item {
    width: 260px;
    min-height: 200px;
    padding: 24px 44px;
    border-radius: 0 0 999px 999px;

    background:
        linear-gradient(#15151C, #15151C) padding-box,
        linear-gradient(180deg, #15151C 0%, #5E6582 100%) border-box;

    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.how-item-text{
    color: #5e6582;
}
@media only screen and (min-width: 1440px) {
  .how-list{
    flex-direction: row;
    gap: 80px;
    justify-content: center;
  }
  .how-item{
        height: 238px;
  }
  .how-item-one{
    gap: 48px;
  }
}
/* Coin Flip Experience */
.coin-text{
    margin-top: 16px;
    margin-bottom: 24px;
    width: 313px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 1440px) {
.coin-text {
        
        margin-bottom: 40px;
        width: 100%;
    }
.coin-img{
    width: 1200px;
        height: 605px;
    margin-left: auto;
        margin-right: auto;
}
}
/* Outcome Amplification */
.outcome-wrapper{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 293px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 1440px) {
    .outcome-wrapper{
        flex-direction: row;
        padding: 8px 0px;
            width: 900px;
            height: 180px;
            gap: 48px;
    }
    .outcome-text{
        text-align: left;
        line-height: 2.5;
    }
    .outcome-img{
        width: 206px;
            height: 164px;
    }
}
/* History & Overview */
.history-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 24px;
    margin-top: 24px;
}
.history-wrapper{
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        width: 303px;
}
.history-list{
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
}
.history-item{
    display: flex;
    width: 180px;
        height: 39px;
        gap: 10px;
        align-items: center;
}
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
   .history-container{
    flex-direction: row;
    gap: 48px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 0px;
        width: 939px;
        height: 244px;
   }
   .history-wrapper{
    width: 763px;
    height: 156px;
    align-items: start;

   }
   .history-img{
    width: 128px;
        height: 228px;
   }
   .history-list{
    flex-direction: row;
   }
   .desk{
    display: block;
   }
   .history-text{
    text-align: left;
   }
}