@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./footer.css');
@import url('./cookie-popup.css');


.background {
    text-align: left;
font-family: "Tiro Tamil", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #e6e6e9;
}
.policy-container{
    padding-left: 24px;
    padding-right: 24px;
}
.privacy-title {
font-family: "Kumar One", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #bcab7e;
    margin-top: 32px;
    margin-bottom: 32px;

}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
font-family: "Tiro Tamil", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #e6e6e9;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.policy-link {
    display: flex;
    align-items: center;
    gap: 12px;
}

.policy-list {
    list-style-type: disc;
    padding-left: 30px;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.text {
    margin-top: 20px;
}

.mail-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.policy-span {
    font-weight: 700;
}

@media only screen and (min-width: 1439px) {
    .privacy-title {
    font-size: 32px;
    }

    .policy-container {
        padding-left: 120px;
        padding-right: 120px;
    }

}